<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<servlet>

<servlet-name>registerServlet</servlet-name>

<servlet-class>myservlet.control.HandleRegister</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>registerServlet</servlet-name>

<url-pattern>/registerServlet</url-pattern>

</servlet-mapping>
<servlet>
<servlet-name>registerTradeServlet</servlet-name>

<servlet-class>myservlet.control.HandleTradeRegister</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>registerTradeServlet</servlet-name>

<url-pattern>/registerTradeServlet</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>loginServlet</servlet-name>

<servlet-class>myservlet.control.HandleLogin</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>loginServlet</servlet-name>

<url-pattern>/loginServlet</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>loginTradeServlet</servlet-name>

<servlet-class>myservlet.control.HandleTradeLogin</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>loginTradeServlet</servlet-name>

<url-pattern>/loginTradeServlet</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>deleteServlet</servlet-name>

<servlet-class>myservlet.control.HandleDelete</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>deleteServlet</servlet-name>

<url-pattern>/deleteServlet</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>buyServlet</servlet-name>

<servlet-class>myservlet.control.HandleBuyGoods</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>buyServlet</servlet-name>

<url-pattern>/buyServlet</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>queryServlet</servlet-name>

<servlet-class>myservlet.control.QueryAllRecord</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>queryServlet</servlet-name>

<url-pattern>/queryServlet</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>putGoodsServlet</servlet-name>

<servlet-class>myservlet.control.PutGoodsToCar</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>putGoodsServlet</servlet-name>

<url-pattern>/putGoodsServlet</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>searchByConditionServlet</servlet-name>

<servlet-class>myservlet.control.SearchByCondition</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>searchByConditionServlet</servlet-name>

<url-pattern>/searchByConditionServlet</url-pattern>

</servlet-mapping>


<servlet>

<servlet-name>exitServlet</servlet-name>

<servlet-class>myservlet.control.HandleExit</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>exitServlet</servlet-name>

<url-pattern>/exitServlet</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>goodsAddServlet</servlet-name>

<servlet-class>myservlet.control.HandleGoodsAdd</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>goodsAddServlet</servlet-name>

<url-pattern>/goodsAddServlet</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>goodsDeleteServlet</servlet-name>

<servlet-class>myservlet.control.HandleGoodsDelete</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>goodsDeleteServlet</servlet-name>

<url-pattern>/goodsDeleteServlet</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>loginAdministerServlet</servlet-name>

<servlet-class>myservlet.control.HandleAdministerLogin</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>loginAdministerServlet</servlet-name>

<url-pattern>/loginAdministerServlet</url-pattern>

</servlet-mapping>

<servlet>

<servlet-name>tradeDeleteServlet</servlet-name>

<servlet-class>myservlet.control.HandleTradeDelete</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>tradeDeleteServlet</servlet-name>

<url-pattern>/tradeDeleteServlet</url-pattern>

</servlet-mapping>
</web-app>